<mat-toolbar color="primary">
    <button mat-button routerLink="/" routerLinkActive="router-link-active">Home</button>
    <button mat-button routerLink="/edit" routerLinkActive="router-link-active">Edit</button>
    <button mat-button routerLink="/insert" routerLinkActive="router-link-active">Insert</button>
    <div fxFlex></div>
    <button mat-icon-button routerLink="/login" routerLinkActive="router-link-active" matTooltip="Login/Logout" fxFlex="nogrow" >
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
