<div fxLayout="column" fxFlexFill> 
    <app-header fxFlex="none"></app-header>
        <div fxFlex class="content">
            <router-outlet></router-outlet> 
        </div>
    <app-footer fxFlex="none"></app-footer>
</div>



<!-- <div fxLayout="column" fxFlexFill> 
    <app-header fxFlex="none"></app-header>
    <div FlexLayout="row" fxFlex fxFill>
        <div fxFlex="20">
            <app-sidebar fxFlex></app-sidebar>
        </div>
        <div fxFlex="80" class="content">
            <router-outlet></router-outlet> 
        </div>
    </div>
    <app-footer fxFlex="none"></app-footer>
</div> -->

